/* Helper
=======================================================*/
h2 {
	font-family: "avenir";
	color: rgb(54, 91, 136);
}

h4 {
	font-family: "cambria";
	font-weight: normal;
}

p {
	font-family: "cambria";
	color: rgb(0,0,0);
}

a {
	color: blue;
}

.image {
	padding: 10px;
	text-align: center;
}

/* Main
=======================================================*/
.container {
	margin: 20px 150px;
	background-color: white;
	padding: 10px;
}

.sophity-logo {
	text-align: center;
}

.sophity-logo img{
	height: 75px;
}

.puzzle-image img{
	width: 100%;
}

.table-of-contents {
	padding: 30px 0;
}

.table-of-contents a{
	text-decoration: none;
}

#sophity-services-success-health-check {
	padding: 30px 0;
}

#about-sophity {
	padding: 30px 0;
}

/* Tables
=======================================================*/

table {
	margin: 0 auto;
	border: 1px solid black;
}

td, th {
	border: 1px black solid;
}

.results table {
	padding: 30px 0;
}

.table-header {
	font-size: 20px;
}

.row-label {
	font-weight: normal;
	text-align: left;
	padding-left: 10px;
}

.score {
	font-weight: normal;
}

#grade-scale th {
	padding: 10px;

}
/* Footer
=======================================================*/
#contact{
	text-align: center;
}

.contact-links a{
	padding-right: 25px;
}

.icons a{
	font-size: 18px;
	list-style-type: none;
	padding-right: 20px;
}

#contact .icons{
	padding-top: 20px;
}


